<!--@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p style={{marginTop : 30,fontWeight:600,fontFamily:'serif', fontSize:26,fontStyle:'italic',color : white }}>
        At MunchMate, we are dedicated to revolutionizing the way restaurants operate and thrive in today's dynamic culinary landscape. With a passion for exceptional food experiences and a commitment to excellence, we provide comprehensive restaurant management services tailored to meet the unique needs of each establishment.
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Restaurant_N%C3%A4sinneula.jpg/640px-Restaurant_N%C3%A4sinneula.jpg"
         alt="image"
         className="rounded mx-auto d-block"
         style={{ height: 300,width:500, display: block }} />
    <p style={{marginTop : 40,fontWeight:600,fontFamily:'serif', fontSize:26,fontStyle:'italic',color :white }}>
        Our mission is simple yet profound—to empower restaurant owners and operators with the tools, expertise, and support necessary to drive success. We strive to elevate every aspect of restaurant management, from operational efficiency to customer satisfaction, enabling our clients to achieve their business goals and exceed industry standards.
    </p>
</div>-->

         @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .aboutimage{
    width:100%;
    height:100%;
    }
</style>

<div className="container py-4">
    <div className="row">
        <div className="col-12">
            <div class="page-title" style="color:aqua">
                <h1 className="text-black px-2">
                    About Us
                </h1>
            </div>
            <div>
                <div className="hero-section">
                    <img class="aboutimage"
                         className="d-block w-50"
                         src="https://www.sternberglawoffice.com/wp-content/uploads/2020/12/Workers-Compensation-for-Restaurant-Employees-in-Florida-Everything-You-Need-to-Know-scaled-1.jpg" 
                         style= "height: 300px,width: 500px" />
                </div>
            </div>
            <br />
            <div className="my-4">
                <div class="abouttitle">
                    <h3 className="subtitle" style="color:aqua">
                        <strong>OUR STORY</strong>
                    </h3>
                </div>
                <p className="subtext">
                    As the Restaurant Management Services project evolved, it became a beacon of innovation in the industry. The platform continued to adapt to emerging technologies, incorporating features like artificial intelligence for predictive analytics, enhancing menu suggestions, and optimizing pricing strategies.

                    The success of the project was not just in the software; it was in the positive impact it had on the restaurant community. Owners found themselves with more time to focus on their passion for culinary excellence, while patrons enjoyed enhanced dining experiences.
                    
                </p>
            </div>
            <br />
            <div className="my-4">
                <div class="abouttitle">
                    <h3 className="subtitle" style="color:aqua">
                        <strong>VISION</strong>
                    </h3>
                </div>
                <p className="subtext">
                    The heart of our vision lay in the belief that technology could be harnessed 
                    to simplify and enhance every aspect of restaurant operations. We aimed to develop a user-friendly, 
                    all-encompassing software solution that seamlessly integrated with existing systems, 
                    making it a valuable asset for restaurants of all sizes and types.
                </p>
            </div>
            <br />
            <div className="my-4">
                <div class="abouttitle">
                    <h3 className="subtitle" style="color:aqua">
                        <strong>MISSION</strong>
                    </h3>
                </div>
                <p className="subtext">
                    1.Streamlining Operations:

                    Develop and implement a robust software solution that streamlines day-to-day restaurant operations, 
                    making them more efficient and less time-consuming.<br />
                    <p></p>
                    2. Enhancing Customer Experiences:

                    Integrate customer relationship management (CRM) tools to foster stronger connections with patrons.
                    Implement features that enhance the overall dining experience, such as personalized promotions, 
                    loyalty programs, and feedback mechanisms.<br />
                    <p></p>

                    3. Adopting Technological Advancements:

                    Stay at the forefront of technology by incorporating artificial intelligence and predictive 
                    analytics to provide valuable insights for better decision-making.<br />
                    
                    <p></p>
                    4. Promoting Sustainability:

                    Implement features that contribute to sustainable practices within the restaurant industry, 
                    such as optimizing inventory to reduce waste and promoting eco-friendly initiatives.<br />
                    
                    <p></p>
                    5. Empowering Restaurant Owners:

                    Provide a user-friendly platform that empowers restaurant owners with the tools and information 
                    needed to make informed decisions and drive business success.
                </p>
            </div>
            <br />

            <div class="container" style="margin-bottom: 30px">
                <!-- Aishwarya Pusadkar -->
                <div class="row justify-content-center">
                    <!-- Card for Aishwarya Pusadkar -->
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src=""
                                 class="card-img-top img-fluid" alt="Aishwarya Pusadkar">
                            <div class="card-body">
                                <h5 class="card-title">Aishwarya Pusadkar</h5>
                            </div>
                        </div>
                    </div>

                    <!-- Information for Aishwarya Pusadkar -->
                    <div class="col-6">
                        <p style="text-align: left; valign: right;">
                            <br /><br /> <br />
                            <b>
                                <h3 class="mt-4" style="font-size: 1em; text-align: center;"><b>Role: Co-Founder and CEO</b> </h3>
                            </b>
                            Aishwarya Pusadkar, our Co-Founder and CEO, is the driving force behind the company's strategic direction.
                            With a background in a relevant field or education, Arpita combines leadership and innovation to steer the company towards excellence.
                            we are supporting to everyone
                        </p>
                    </div>
                </div>
                <!-- Shrashti Tiwari -->
                <div class="row justify-content-center ">
                    <div class="col-6">
                        <p class="justify-content" style="text-align: left; valign: left;">
                            <br /><br /> <br />
                            <b>
                                <h3 class="mt-4" style="font-size: 1em; text-align: center;">
                                    <b>Role: Co-Founder and Director of Operations</b>
                                </h3>
                            </b>
                            Shrashti Tiwari, our Director of Operations, ensures flawless execution in every event. A graduate of an educational institution
                            Shrashti's attention to detail and commitment to operational excellence elevate the quality of our services. we are supporting
                            to everyone
                        </p>

                    </div>

                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src="https://drive.google.com/file/d/1wK8HgOjrKV5tBXZ74Qorv5Syuz9FVrzJ/view?usp=sharing"
                                 class="card-img-top" alt="Shrashti Tiwari">
                            <div class="card-body">
                                <h5 class="card-title">Shrashti Tiwari</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sanjita Rinayat -->
                <div class="row justify-content-center">
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src=""
                                 class="card-img-top img-fluid" alt="Sanjita Rinayat">
                            <div class="card-body">
                                <h5 class="card-title">Sanjita Rinayat</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <p style="text-align: left; valign: right;">
                            <br /><br /> <br />
                            <b>
                                <h3 class="mt-4" style="font-size: 1em; text-align: center;"><b>Role: Co-Founder and CEO</b> </h3>
                            </b>
                            Sanjita Rinayat, our Creative Director, infuses artistic flair into every event. With a background in [creative field or education], Sanjita's creativity knows no bounds. From conceptualization to design,
                            Sanjita ensures that each event is a captivating experience.we are suporting to everyone
                        </p>
                    </div>
                </div>
                <!-- Shaival Paradkar -->
                <div class="row justify-content-center ">
                    <div class="col-6">
                        <p class="justify-content" style="text-align: left; valign: left;">
                            <br /><br /> <br />
                            <b>
                                <h3 class="mt-4" style="font-size: 1em; text-align: center;">
                                    <b>Role: Co-Founder and Director of Operations</b>
                                </h3>
                            </b>
                            Shaival Paradkar, our Marketing Strategist, is the driving force behind promoting our brand and events. Leveraging expertise in [marketing or relevant field], Shaival ensures that our events gain the recognition they deserve,
                            contributing to our success in the market.we are suporting to everyone
                        </p>

                    </div>

                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src=""
                                 class="card-img-top" alt="Shaival Paradkar">
                            <div class="card-body">
                                <h5 class="card-title">Shaival Paradkar</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pushkar Borse-->
                <div class="row justify-content-center">
                    <div class="col-md-3 mt-4">
                        <div class="card">
                            <img src=""
                                 class="card-img-top img-fluid" alt="Pushkar Borse">
                            <div class="card-body">
                                <h5 class="card-title">Pushkar Borse</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <p style="text-align: left; valign: right;">
                            <br /><br /> <br />
                            <b>
                                <h3 class="mt-4" style="font-size: 1em; text-align: center;"><b>Role: Co-Founder and CEO</b> </h3>
                            </b>
                            Pushkar Borse, our Technology Advisor, brings innovation to the forefront of our events. Holding a degree in [technology-related field],
                            Pushkar ensures that our events seamlessly integrate technology,
                            providing a modern and engaging experience. we are suporting to everyone
                        </p>
                    </div>
                </div>
            
        </div>
    </div>
</div>