@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align:center">Welcome To MunchMate Service Section</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://www.blinkco.io/wp-content/uploads/2021/08/food-deliver-yapp-interface-mobile.jpg" class="card-img-top" alt="Billing Management" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Billing Management</h5>
                    <p class="card-text"><b>Billing management involves overseeing the entire process of invoicing and payment within a business.</b></p>
                    <a href="/Home/Bill" class="btn btn-primary">Order Service</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://www.restaurant365.com/wp-content/uploads/2022/10/iStock-519196606-1.jpg" class="card-img-top" alt="Employee Management" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Employee Management</h5>
                    <p class="card-text">
                        <b>
                            At our restaurant, we prioritize fostering a vibrant and cohesive team, recognizing our employees as the heart of our success.
                        </b>
                       
                    </p>
                    <a href="/Home/EmployeeMng" class="btn btn-primary">Order Service</a>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://craftable.com/wp-content/uploads/2022/08/Menu-Engineering-101.jpg" class="card-img-top" alt="Menu Engineering" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Menu Engineering</h5>
                    <p class="card-text">
                        <b>

                            Our menu engineering innovatively balances customer satisfaction, operational efficiency in restaurant industry.
                        </b>
                        
                    </p>
                    <a href="/Home/Menu" class="btn btn-primary">Order Service</a>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://readytrainingonline.com/wp-content/uploads/2019/05/HR-Restaurant-Manager-Workshop.jpg" class="card-img-top" alt="Catering Services" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Catering Services</h5>
                    <p class="card-text">
                        <b>
                            Our catering transforms events into extraordinary experiences, meticulously curated to exceed expectations.
                        </b>
                    </p>
                    <a href="/Home/Catering" class="btn btn-primary">Order Service</a>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://balchao.co.uk/wp-content/uploads/2023/03/Party-Booking-2-1024x682.jpg" class="card-img-top" alt="Event Management" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Event Management</h5>
                    <p class="card-text">
                        <b>

                            Devoted to transforming your vision into reality, our comprehensive event management services intricately orchestrate every detail to your special occasions.
                        </b>
                    </p>
                    <a href="/Home/Event" class="btn btn-primary">Order Service</a>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://www.posist.com/restaurant-times/wp-content/uploads/2017/11/Effective-Strategies-To-Improve-Your-Restaurant-Service-And-Provide-A-Stellar-Guest-Experience.jpg" class="card-img-top" alt="Customer Experience Enhancement" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Customer Experience Enhancement</h5>
                    <p class="card-text"><b>Our customer experience enhancement services are tailored to revolutionize the way your business connects with and delights its customers.</b></p>
                    <a href="/Home/CustomerMng" class="btn btn-primary">Order Service</a>
                </div>
               
            </div>
           
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://futurarestaurantmarketing.com/wp-content/uploads/2019/03/Restaurant-Consultant-768x438.jpg" class="card-img-top" alt="Strategic Consulting services" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Strategic Consulting services</h5>
                    <p class="card-text"><b>Our strategic consulting services are designed to empower businesses to navigate complex challenges, capitalize on opportunities, and achieve sustainable growth.</b></p>
                    <a href="/Home/Strategic" class="btn btn-primary">Order Service</a>
                </div>
                
                
            </div>
            
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://www.countrystylerecycling.co.uk/wp-content/uploads/2018/01/spits-1.png" class="card-img-top" alt="Food recycle service" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Food recycle service</h5>
                    <p class="card-text"><b>Our food recycle service is a pioneering initiative designed to tackle food waste while championing environmental sustainability within the culinary landscape.</b></p>
                    <a href="/Home/FoodRecycle" class="btn btn-primary">Order Service</a>
                </div>
               
                
            </div>
           
        </div>
    </div>
</div>